.cards{
    padding-top: 70px;

    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        
        &-item{
            padding-left: 65px;
            position: relative;

            &:nth-child(2){
                &::before{
                    content: "";
                    display: block;
                    background-image: url('./../images/proiz.svg');
                    width: 35px;
                    height: 33px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &:last-child{
                &::before{
                    content: "";
                    display: block;
                    background-image: url('./../images/payment.svg');
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        &-title{
            @include text(30px, 700, 30px, $textColor);
            margin-bottom: 18px;
        }

        &-text{
            @include text(20px, 400, 27px, $textColor);
            opacity: 0.8;
        }
    }
}