@import './normalize';

@import './abstracts/vars';
@import './abstracts/mixins';

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    background-color: $bodyBackColor;
}



// CONTAINER
@import './container';

// HEADER
@import './header';
// HEADER MENU
@import './menu';

// DIGNITY
@import './dignity';
// DIGNITY CARDS
@import './cards';

// DISCOUNT
@import './discount';

// ABOUT
@import './about';

// PRINCIPLES
@import './principles';
// PRINCIPLES VIEW
@import './view';

// FOOTER
@import './footer';